<!DOCTYPE html>
<html>
<head>
    <title>TV</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/static/bulma.css">
    <script src="/static/jquery.js"></script>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                TV
                <a class="button is-medium" href="?command=q">Q</a>
                <a class="button is-medium" href="?command=poweroff">OFF</a>
            </h1>

            <div style="margin-top: 20px; margin-bottom: 10px">
                <a class="button is-large is-fullwidth" href="?command=space">⏯️</a>
            </div>

            <div class="tabs is-fullwidth">
                <ul>
                    <li>
                        <a class="button is-large" href="?command=Left">⏪</a>
                    </li>
                    <li>
                        <a class="button is-large" href="?command=Right">⏩</a>
                    </li>
                </ul>
            </div>

            <div class="tabs is-fullwidth">
                <ul>
                    <li>
                        <a class="button is-large" href="?command=super%2b8">🔉</a>
                    </li>
                    <li>
                        <a class="button is-large" href="?command=super%2b9">🔊</a>
                    </li>
                </ul>
            </div>

        </div>
    </section>
<script>
$('a').click(function(e) {
    e.preventDefault();
    $.get($(this).attr('href'));
    return false;
})
</script>
</body>
</html>
