<html>
<head>
    <title>TV</title>
    <style>
        .button {
            display: inline-block;
            padding: 2px;
            margin: 2px;
            border: 1px solid black;
            color: black;
            text-decoration: none;
            box-shadow: 0px 0px 1px #000;
        }
    </style>
</head>
<body>
    <a class="button" href="?command=pause">PAUSE</a>
    <a class="button" href="?command=stop">STOP</a>
    <br />
    <a class="button" href="?command=seek -600">SEEK -10MIN</a>
    <a class="button" href="?command=seek -120">SEEK -2MIN</a>
    <a class="button" href="?command=seek -10">SEEK -10SEC</a>
    <a class="button" href="?command=seek +10">SEEK +10SEC</a>
    <a class="button" href="?command=seek +120">SEEK +2MIN</a>
    <a class="button" href="?command=seek +600">SEEK +10MIN</a>
    <br />
    <a class="button" href="?command=volume -2">VOLUME -2</a>
    <a class="button" href="?command=volume +2">VOLUME +2</a>

    <br />
    <a class="button" href="?command=sub_select">NEXT SUBTITLES</a>
    <a class="button" href="?command=switch_audio">NEXT AUDIO</a>


    <ul>
        <li>
            <a href="/">DIR: /</a>
        </li>
    {{- $dir := .dir }}
    {{- range $index, $file := .files }}
        {{- if $file.IsDir }}
            <li>
                DIR: <a href="{{ $dir }}{{ $file.Name }}/">{{ $file.Name }}/</a>
            </li>
        {{- end }}
    {{- end }}
    {{- range $index, $file := .files }}
        {{- if not $file.IsDir }}
            <li>
                FILE: <a href="{{ $dir }}{{ $file.Name }}">{{ $file.Name }}</a>
            </li>
        {{- end }}
    {{- end }}
    </ul>
</body>
</html>
